extends ../index

block main-content
    section.container
        h1.text-center Grapefruit Bay Bookstore

        #carousel1.carousel.slide.carousel-fade.hoverable
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#carousel1', data-slide-to='0')
                li(data-target='#carousel1', data-slide-to='1')
                li(data-target='#carousel1', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner.z-depth-2(role='listbox')
                // First slide
                .item.active
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='{{books[Math.floor(Math.random() * books.length)].imageUrl}}', alt='slide1')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 {{$scope.randomReview = $scope.randomBook.reviews[Math.floor(Math.random() * $scope.randomBook.reviews.length)];}}

                .item
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='http://www.vetprofessionals.com/catprofessional/images/home-cat.jpg', alt='slide2')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 Lorem ipsum dolor sit amet

                .item
                    .view.overlay.hm-blue-slight.img-container
                        a
                            img.img-responsive.perfect-fit(src='http://www.i-love-cats.com/images/2015/04/12/cat-wallpaper-38.jpg', alt='slide3')
                            .mask.waves-effect.waves-light
                        .carousel-caption.hidden-xs
                            .animated.fadeInDown
                                h5 Lorem ipsum dolor sit amet

            //a.left.carousel-control.new-control(href='#carousel1', role='button', data-slide='prev')
            //
            //    span.fa.fa.fa-angle-left.waves-effect.waves-light
            //    span.sr-only Previous
            //a.right.carousel-control.new-control(href='#carousel1', role='button', data-slide='next')
            //    span.fa.fa.fa-angle-right.waves-effect.waves-light
            //    span.sr-only Next
        // /.carousel
        nav.navbar.z-depth-2.deep-orange
            .container
                #bs-example-navbar-collapse-3.collapse.navbar-collapse.nav.navbar-center
                    ul.nav.navbar-nav.navbar-center
                        li
                            a.waves-effect.waves-effect.waves-light(href="/books") Books
                        li
                            a.waves-effect.waves-effect.waves-light(href="/games") Games
                        li
                            a.waves-effect.waves-effect.waves-light(href="/movies") DVD & Blu-ray
                        li.dropdown
                            a.dropdown-toggle.waves-effect.waves-light(data-toggle="dropdown", role="button", aria-expanded="false")
                                | Stationary
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="#") Office supplies
                                li.divider
                                li
                                    a(href="#") School stationary
                                li.divider
                                li
                                    a(href="#") Files & Folders
                                li.divider
                                li
                                    a(href="#") Drawing & art set

    .container
        .row
            .panel.panel-default
                .panel-heading.text-center New Books
                //.panel-body(ng-include="'/partials/main/new-books'")
                .container(ng-controller="BooksListCtrl")
                    form.row(action="/books")
                        .col-md-1 Max price
                        .col-md-2
                            input.form-control(type="text", placeholder="Max price", name="maxprice")
                        .col-md-1 Filter by
                        .col-md-2
                            select.form-control(ng-model="sort", name="filtertype")
                                option(value="title", ng-selected="'true'") Title
                                option(value="author") Author
                        .col-md-1 Filter text
                        .col-md-3
                            input.form-control(type="text", placeholder="Filter text", name="filtertext")
                        button.btn.btn-info.col-md-1(type="submit") Filter
                        .col-md-2(ng-show="identity.currentUser.isAdmin()")
                            a.btn.btn-danger(href="/books/edit/") Add new book
                    br
                    .k-grid.k-widget(kendo-grid='', data-role='grid')
                        .k-grid-header(style='padding-right: 17px;')
                            .k-grid-header-wrap.k-auto-scrollable
                                table(role='grid')
                                    colgroup
                                        col.k-hierarchy-col
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                    thead(role='rowgroup')
                                        tr.active(role='row')
                                            th.k-hierarchy-cell.k-header.ng-scope  
                                            th.k-header.ng-scope(role='columnheader', data-field='Title', rowspan='1', data-role='columnsorter', data-filterable="true", data-sortable="true")
                                                a.k-link Title
                                            th.k-header.ng-scope(role='columnheader', data-field='Manufacturer', rowspan='1', data-title='Manufacturer', data-index='1', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Author
                                            th.k-header.ng-scope(role='columnheader', data-field='Price', rowspan='1', data-index='2', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Price
                                            th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Published
                                            th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Quantity
                                            th.k-header.ng-scope(role='columnheader', data-field='Image', rowspan='1', data-index='4', data-role='columnsorter')
                                                span Cover
                        .k-grid-content.k-auto-scrollable
                            table.table-hover(role='treegrid')
                                colgroup
                                    col.k-hierarchy-col
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                tbody(role='rowgroup')
                                    each book in books
                                        tr.k-master-row.ng-scope(data-uid='c74522dc-0076-4c18-ba56-80b2de559575', role='row', style="height:10px")
                                            td.k-hierarchy-cell
                                                a.k-icon.k-plus(href='/books/#{book._id}', tabindex='-1')
                                            td(role='gridcell')=book.title
                                            td(role='gridcell')=book.author
                                            td(role='gridcell')=book.price
                                            td(role='gridcell')=book.published
                                            td(role='gridcell')=book.quantity
                                            td(role='gridcell')
                                                a(href=book.imageUrl)
                                                    img(width="70", src=book.imageUrl)
                        .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap(data-role='pager')
                            a.k-link.k-pager-nav.k-pager-first.k-state-disabled(href='#', title='Go to the first page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-seek-w Go to the first page
                            a.k-link.k-pager-nav.k-state-disabled(href='#', title='Go to the previous page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-arrow-w Go to the previous page
                            ul.k-pager-numbers.k-reset
                                li.k-current-page
                                    span.k-link.k-pager-nav 1
                                li
                                    span.k-state-selected 1
                                //li
                                //    a.k-link(tabindex='-1', href='#', data-page='2') 2
                            a.k-link.k-pager-nav(href='#', title='Go to the next page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-arrow-e Go to the next page
                            a.k-link.k-pager-nav.k-pager-last(href='#', title='Go to the last page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-seek-e Go to the last page

                    br
                .panel-footer
                    .row.text-center
                        ul.pagination.pag-circle
                            li
                                a(href='#!')
                                    i.material-icons chevron_left
                            li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
                                a(href='#', ng-click='vm.search(request, page)') {{page}}

                            li
                                a(href='#!')
                                    i.material-icons chevron_right

        .row
            .panel.panel-default
                .panel-heading.text-center Games
                //.panel-body(ng-include="'/partials/main/games'")
                .container
                    .row
                        .col-md-2 Search
                        .col-md-4
                            input.form-control(type="text", placeholder="Search", ng-model="search")
                        .col-md-2 Sort
                        .col-md-4
                            select.form-control(ng-model="sort")
                                option(value=" " ng-selected="'true'") Default
                                option(value="title") Title
                                option(value="published") Published
                    br
                    .k-grid.k-widget(kendo-grid='', data-role='grid')
                        .k-grid-header(style='padding-right: 17px;')
                            .k-grid-header-wrap.k-auto-scrollable
                                table(role='grid')
                                    colgroup
                                        col.k-hierarchy-col
                                        col(style='width:200px')
                                        col(style='width:200px')
                                        col(style='width:200px')
                                        col(style='width:200px')
                                        col(style='width:200px')
                                    thead(role='rowgroup')
                                        tr(role='row')
                                            th.k-hierarchy-cell.k-header.ng-scope  
                                            th.k-header.ng-scope(role='columnheader', data-field='Title', rowspan='1', data-title='Title', data-index='0', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Title
                                            th.k-header.ng-scope(role='columnheader', data-field='Manufacturer', rowspan='1', data-title='Manufacturer', data-index='1', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Manufacturer
                                            th.k-header.ng-scope(role='columnheader', data-field='Price', rowspan='1', data-index='2', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Price
                                            th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Quantity
                                            th.k-header.ng-scope(role='columnheader', data-field='Image', rowspan='1', data-index='4', data-role='columnsorter')
                                                span Cover
                        .k-grid-content.k-auto-scrollable
                            table.table-hover(role='treegrid')
                                colgroup
                                    col.k-hierarchy-col
                                    col(style='width:200px')
                                    col(style='width:200px')
                                    col(style='width:200px')
                                    col(style='width:200px')
                                    col(style='width:200px')
                                tbody(role='rowgroup')
                                    each game in games
                                        tr.k-master-row.ng-scope(data-uid='c74522dc-0076-4c18-ba56-80b2de559575', role='row')
                                            td.k-hierarchy-cell
                                                a.k-icon.k-plus(href='/games/#{game._id}', tabindex='-1')
                                            td(role='gridcell')=game.title
                                            td(role='gridcell')=game.manufacturer
                                            td(role='gridcell')=game.price
                                            td(role='gridcell')=game.quantity
                                            td(role='gridcell')
                                                a(href=game.imageUrl)
                                                    img(src=game.imageUrl, width="110")
                        .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap(data-role='pager')
                            a.k-link.k-pager-nav.k-pager-first.k-state-disabled(href='#', title='Go to the first page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-seek-w Go to the first page
                            a.k-link.k-pager-nav.k-state-disabled(href='#', title='Go to the previous page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-arrow-w Go to the previous page
                            ul.k-pager-numbers.k-reset
                                li.k-current-page
                                    span.k-link.k-pager-nav 1
                                li
                                    span.k-state-selected 1
                                //li
                                //    a.k-link(tabindex='-1', href='#', data-page='2') 2
                            a.k-link.k-pager-nav(href='#', title='Go to the next page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-arrow-e Go to the next page
                            a.k-link.k-pager-nav.k-pager-last(href='#', title='Go to the last page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-seek-e Go to the last page
                            //span.k-pager-info.k-label(ng-if="games.length < 5") 1 - {{games.length}} of {{games.length}}
                            //span.k-pager-info.k-label(ng-if="games.length >= 5")  1 - 5 of {{games.length}}
                    br
                .panel-footer
                    .row.text-center
                        ul.pagination.pag-circle
                            li
                                a(href='#!')
                                    i.material-icons chevron_left
                            li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
                                a(href='#', ng-click='vm.search(request, page)') {{page}}

                            li
                                a(href='#!')
                                    i.material-icons chevron_right
        .row
            .panel.panel-default
                .panel-heading.text-center New DVD's & Blu-ray's
                //.panel-body(ng-include="'/partials/main/new-movies'")
                .container(ng-controller="MoviesListCtrl")
                    .row
                        .col-md-1 Search
                        .col-md-3
                            input.form-control(type="text", placeholder="Search", ng-model="search")
                        .col-md-1 Sort
                        .col-md-3
                            select.form-control(ng-model="sort")
                                option(value=" " ng-selected="'true'") Default
                                option(value="title") Title
                                option(value="released") Released
                        .col-md-2
                        .col-md-2(ng-show="identity.currentUser.isAdmin()")
                            a.btn.btn-danger(href="/movies/edit/") Add new movie
                    br
                    .k-grid.k-widget(kendo-grid='', data-role='grid')
                        .k-grid-header(style='padding-right: 17px;')
                            .k-grid-header-wrap.k-auto-scrollable
                                table(role='grid')
                                    colgroup
                                        col.k-hierarchy-col
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                        col(style='width:180px')
                                    thead(role='rowgroup')
                                        tr.active(role='row')
                                            th.k-hierarchy-cell.k-header.ng-scope  
                                            th.k-header.ng-scope(role='columnheader', data-field='Title', rowspan='1', data-role='columnsorter', data-filterable="true", data-sortable="true")
                                                a.k-link Title
                                            th.k-header.ng-scope(role='columnheader', data-field='Director', rowspan='1', data-title='Director', data-index='1', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Director
                                            th.k-header.ng-scope(role='columnheader', data-field='Price', rowspan='1', data-index='2', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Price
                                            th.k-header.ng-scope(role='columnheader', data-field='Released', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Released
                                            th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                                a.k-link Quantity
                                            th.k-header.ng-scope(role='columnheader', data-field='Image', rowspan='1', data-index='4', data-role='columnsorter')
                                                span Cover
                        .k-grid-content.k-auto-scrollable
                            table.table-hover(role='treegrid')
                                colgroup
                                    col.k-hierarchy-col
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                    col(style='width:180px')
                                tbody(role='rowgroup')
                                    each movie in movies
                                        tr.k-master-row.ng-scope(data-uid='c74522dc-0076-4c18-ba56-80b2de559575', role='row', style="height:10px")
                                            td.k-hierarchy-cell
                                                a.k-icon.k-plus(href='/movies/#{movie._id}', tabindex='-1')
                                            td(role='gridcell')=movie.title
                                            td(role='gridcell')=movie.director
                                            td(role='gridcell')=movie.price
                                            td(role='gridcell')=movie.published
                                            td(role='gridcell')=movie.quantity
                                            td(role='gridcell')
                                                a(href='#{movie.imageUrl}')
                                                    img(src="#{movie.imageUrl}", width="60")
                        .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap(data-role='pager')
                            a.k-link.k-pager-nav.k-pager-first.k-state-disabled(href='', title='Go to the first page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-seek-w Go to the first page
                            a.k-link.k-pager-nav.k-state-disabled(href='', title='Go to the previous page', data-page='1', tabindex='-1')
                                span.k-icon.k-i-arrow-w Go to the previous page
                            ul.k-pager-numbers.k-reset
                                li.k-current-page
                                    span.k-link.k-pager-nav 1
                                li
                                    span.k-state-selected 1
                                //li
                                //    a.k-link(tabindex='-1', href='#', data-page='2') 2
                            a.k-link.k-pager-nav(href='/', title='Go to the next page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-arrow-e Go to the next page
                            a.k-link.k-pager-nav.k-pager-last(href='#', title='Go to the last page', data-page='2', tabindex='-1')
                                span.k-icon.k-i-seek-e Go to the last page
                            //span.k-pager-info.k-label(ng-if="movies.length < 5") 1 - {{movies.length}} of {{movies.length}}
                            //span.k-pager-info.k-label(ng-if="movies.length >= 5")  1 - 5 of {{movies.length}}
                    br
                .panel-footer
                    .row.text-center
                        ul.pagination.pag-circle
                            li
                                a(href='#!')
                                    i.material-icons chevron_left
                            li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
                                a(href='#', ng-click='vm.search(request, page)') {{page}}

                            li
                                a(href='#!')
                                    i.material-icons chevron_right
        //.row
        //    .panel.panel-default
        //        .panel-heading.text-center Stationaries
        //        //.panel-body(ng-include="'/partials/main/stationaries'")
        //        .panel-footer
        //            .row.text-center
        //                ul.pagination.pag-circle
        //                    li
        //                        a(href='#!')
        //                            i.material-icons chevron_left
        //                    li(ng-repeat='page in [1, 2, 3, 4, 5]', ng-class="page == vm.currentPage ? 'active' : ''")
        //                        a(href='#', ng-click='vm.search(request, page)') {{page}}
        //
        //                    li
        //                        a(href='#!')
        //                            i.material-icons chevron_right
