extends ../index

block main-content
    .container
        .row
            .col-md-3
                .sidebar
                    .collection
                        a.collection-item(href='/')
                            h6 Home
                        a.collection-item(href='/books') Books
                        a.collection-item(href='/games') Games
                        a.collection-item(href='/movies') Movies
                        a.collection-item(href='/stationary') Stationary
            .col-md-9
                .thumbnail
                    img.img-responsive.z-depth-2(width="400", src='#{game.imageUrl}', alt='')
                    .caption-full
                        h4.pull-right.price #{game.price}
                        h4
                            a(href='') #{game.title}
                        p
                            | #{game.description}
                    .ratings
                        p.pull-right #{game.reviews.length} reviews
                        p
                        ul.list-inline
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        |  4.0 stars
                        p
                .well
                    .text-right(ng-show="identity.isAuthenticated()")
                        a.btn.btn-success.waves-effect.waves-light(href="/games/{{book._id}}/review") Leave a Review
                    each review in game.reviews
                        .wrapper
                            hr
                            .row
                                .col-md-12
                                    ul.list-inline
                                        each idx in [1, 2, 3, 4, 5]
                                            i.fa.fa-star
                                    |  #{review.author}
                                    span.pull-right 10 days ago
                                    p #{review.content}




            .pull-right(ng-show="identity.currentUser.isAdmin()")
                a.btn.btn-danger(href="/game/edit/#{game._id}") Edit game