extends ../index

block main-content
    .container
        .well
            form.form-horizontal(method="post", action="/books/edit/#{book.id}")
                fieldset
                    legend Edit book
                    .form-group
                        label.col-md-2.control-label(for="title") Title*
                        .col-md-10
                            input.form-control(type="text",  placeholder="Title", value="#{book.title}" name="title", required)
                    .form-group
                        label.col-md-2.control-label(for="author") Author*
                        .col-md-10
                            input.form-control(type="text",  placeholder="Author", value="#{book.author}", name="author", required)
                    .form-group
                        label.col-md-2.control-label(for="isbn") ISBN*
                        .col-md-4
                            input.form-control(type="number",  placeholder="ISBN", value="#{book.ISBN}", name="ISBN", required)
                        label.col-md-2.control-label(for="quantity") Quantity*
                        .col-md-4
                            input.form-control(type="number", name="quantity", value="#{book.quantity}", required)
                    // TODO: add yearPicker
                    .form-group
                        label.col-md-2.control-label(for="year") Year published*
                        .col-md-4
                            input.form-control(type="number",  placeholder="Year", name="published", value="#{book.published}", required)
                        label.col-md-2.control-label(for="price") Price*
                        .col-md-4
                            input.form-control(type="number", name="price", value="#{book.price}" required)
                    // TODO: repeat without commas but spaces
                    .form-group
                        label.col-md-2.control-label(for="genre") Genres*
                        .col-md-10
                            input.form-control(type="text", placeholder="enter genre(s) separated by space", name="genres", value="#{book.genres}", required)
                    // TODO: repeat without commas but spaces
                    .form-group
                        label.col-md-2.control-label(for="tags") Tags*
                        .col-md-10
                            input.form-control(type="text", placeholder="enter tag(s) separated by space", name="tags", value="#{book.tags}", required)
                    .form-group
                        label.col-md-2.control-label(for="description") Description
                        .col-md-10
                            textarea.form-control(rows="2", placeholder="Enter description", name="description", value="#{book.description}")
                    .form-group
                        label.col-md-2.control-label(for="image") Image URL*
                        .col-md-10
                            input.form-control(type="text", placeholder="Image", name="imageUrl", required, value="#{book.imageUrl}")
                    .pull-right
                        button.btn.btn-success(type="submit") Edit
                        //a.btn.btn-primary(ng-click="deleteBook(book._id)") Delete
                        a.btn.btn-danger(href="/") Cancel