extends ../index

block main-content
    .container(ng-controller="BooksListCtrl")
        .row
            .col-md-1 Search
            .col-md-3
                input.form-control(type="text", placeholder="Search", ng-model="search")
            .col-md-1 Sort
            .col-md-3
                select.form-control(ng-model="sort")
                    option(value=" " ng-selected="'true'") Default
                    option(value="title") Title
                    option(value="published") Published
            .col-md-2
            .col-md-2(ng-show="identity.currentUser.isAdmin()")
                a.btn.btn-danger(href="/books/edit/") Add new book
        br
        .k-grid.k-widget(kendo-grid='', data-role='grid')
            .k-grid-header(style='padding-right: 17px;')
                .k-grid-header-wrap.k-auto-scrollable
                    table(role='grid')
                        colgroup
                            col.k-hierarchy-col
                            col(style='width:180px')
                            col(style='width:180px')
                            col(style='width:180px')
                            col(style='width:180px')
                            col(style='width:180px')
                        thead(role='rowgroup')
                            tr.active(role='row')
                                th.k-hierarchy-cell.k-header.ng-scope  
                                th.k-header.ng-scope(role='columnheader', data-field='Title', rowspan='1', data-role='columnsorter', data-filterable="true", data-sortable="true")
                                    a.k-link Title
                                th.k-header.ng-scope(role='columnheader', data-field='Manufacturer', rowspan='1', data-title='Manufacturer', data-index='1', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                    a.k-link Author
                                th.k-header.ng-scope(role='columnheader', data-field='Price', rowspan='1', data-index='2', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                    a.k-link Price
                                th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                    a.k-link Published
                                th.k-header.ng-scope(role='columnheader', data-field='Quantity', rowspan='1', data-index='3', data-role='columnsorter',data-filterable="true", data-sortable="true")
                                    a.k-link Quantity
                                th.k-header.ng-scope(role='columnheader', data-field='Image', rowspan='1', data-index='4', data-role='columnsorter')
                                    span Cover
            .k-grid-content.k-auto-scrollable
                table.table-hover(role='treegrid')
                    colgroup
                        col.k-hierarchy-col
                        col(style='width:180px')
                        col(style='width:180px')
                        col(style='width:180px')
                        col(style='width:180px')
                        col(style='width:180px')
                    tbody(role='rowgroup')
                        each book in books
                            tr.k-master-row.ng-scope(data-uid='c74522dc-0076-4c18-ba56-80b2de559575', role='row', style="height:10px")
                                td.k-hierarchy-cell
                                    a.k-icon.k-plus(href='/books/#{book._id}', tabindex='-1')
                                td(role='gridcell')=book.title
                                td(role='gridcell')=book.author
                                td(role='gridcell')=book.price
                                td(role='gridcell')=book.published
                                td(role='gridcell')=book.quantity
                                td(role='gridcell')
                                    a(href=book.imageUrl)
                                        img(width="70", src=book.imageUrl)
            .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap(data-role='pager')
                a.k-link.k-pager-nav.k-pager-first.k-state-disabled(href='#', title='Go to the first page', data-page='1', tabindex='-1')
                    span.k-icon.k-i-seek-w Go to the first page
                a.k-link.k-pager-nav.k-state-disabled(href='#', title='Go to the previous page', data-page='1', tabindex='-1')
                    span.k-icon.k-i-arrow-w Go to the previous page
                ul.k-pager-numbers.k-reset
                    li.k-current-page
                        span.k-link.k-pager-nav 1
                    li
                        span.k-state-selected 1
                    //li
                    //    a.k-link(tabindex='-1', href='#', data-page='2') 2
                a.k-link.k-pager-nav(href='#', title='Go to the next page', data-page='2', tabindex='-1')
                    span.k-icon.k-i-arrow-e Go to the next page
                a.k-link.k-pager-nav.k-pager-last(href='#', title='Go to the last page', data-page='2', tabindex='-1')
                    span.k-icon.k-i-seek-e Go to the last page

        br